[Unit]
Description=Node Exporter
After=network.target

[Service]
User={{prometheus_node_exporter_user}}
Group={{prometheus_node_exporter_group}}
Type=simple
ExecStart={{prometheus_node_exporter_home}}/node_exporter-{{prometheus_node_exporter_version}}.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target